:root {
  --chart-1: 222.2 47.4% 11.2%;
  --chart-2: 215 25% 27%;
  --chart-3: 217 33% 17%;
  --chart-4: 219 14% 28%;
  --chart-5: 142 76% 36%;
  --chart-6: 199 89% 48%;
  --chart-7: 0 63% 31%;
  --chart-8: 24 75% 50%;
}

.dark {
  --chart-1: 210 40% 98%;
  --chart-2: 217 19% 27%;
  --chart-3: 215 25% 27%;
  --chart-4: 217 33% 17%;
  --chart-5: 142 71% 45%;
  --chart-6: 201 96% 64%;
  --chart-7: 0 73% 41%;
  --chart-8: 24 80% 59%;
}
